<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous">
		<title>BudgetPlanner</title>
		<link rel="stylesheet" href="/static/styles/user.css">
	</head>

		<body>
		<nav class="navbar">
			<div class="container">
				<a href="#" class="navbar-brand">BudgetPlanner</a>
				<div class="navbar-wrap">
					<ul class="navbar-menu">
						<li><a href="{{ homeUserPage }}">Главная</a></li>
						<li><a href="#footerbar">Сведенья о разработчике</a></li>
					</ul>
					<a href="/" class="Registr_LogIn">Выход</a>
				</div>
			</div>
		</nav>


		<main>

			<form class="form-user-data" action="{{ getDataLink }}", method="POST">
				<h1 class="form-title">Выгрузка данных</h1>

				<select name="format">
					<option value="csv">.csv</option>
					<option value="xlsx">.xlsx</option>
				</select>
				<br>
				<select name="income_or_expenses">
					<option value="income_and_expenses">доходы и расходы</option>
					<option value="income">доход</option>
					<option value="expenses">расход</option>
				</select>

				<button class="form-button">Скачать</button>
			</form>

		</main>


		<footer class="footerbar" id="footerbar">
			<div class="footerbar-container">
				<h5>Контакты разработчика</h5>
				<div class="footerbar-wrap">
					<ul class="footerbar-contacts-filling">
						<li><a href="https://t.me/EgorAndrik">Telegram</a></li>
						<li><a href="https://github.com/EgorAndrik">GitHub</a></li>
						<li><a href="https://vk.com/egor_andrik">VK</a></li>
					</ul>
					<a href="https://github.com/EgorAndrik/BudgetPlanner_WebApplication" class="OpenSourse">Код приложения</a>
				</div>
			</div>
		</footer>

	</body>
</html>